@{
    ViewData["Title"] = "Reset password confirmation";
}


<div class="reset-container full-height sm-p-t-30 text-center">
    <div class="d-flex justify-content-center flex-column full-height ">
        <h3>Reset password confirmation</h3>
        <p>
            Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>

<div class="full-width">
    <div class="register-container m-b-10 clearfix ">
        <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up text-center">
            <p class="hinted-text small inline sm-p-t-10">
                ©2019-2020 All Rights Reserved. CBMaster®.
            </p>
        </div>
    </div>
</div>
