@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="reset-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <h3>Reset your password</h3>
        <form id="form-register" class="p-t-15" role="form" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Enter your email</label>
                        <input type="email" asp-for="Email" placeholder="" class="form-control" required="" aria-required="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Enter your email</label>
                        <input type="password" asp-for="Password" placeholder="" class="form-control" required="" aria-required="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Enter your email</label>
                        <input type="password" asp-for="ConfirmPassword" placeholder="" class="form-control" required="" aria-required="true">
                    </div>
                </div>
            </div>
            <button aria-label="" class="btn btn-primary btn-cons m-t-10" type="submit">Reset</button>
        </form>
    </div>
</div>

<div class="full-width">
    <div class="register-container m-b-10 clearfix ">
        <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up text-center">
            <p class="hinted-text small inline sm-p-t-10">
                ©2019-2020 All Rights Reserved. CBMaster®.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
